@font-face {
  font-family: "NunitoSans-Light";
  src: url("../fonts/NunitoSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSans-Regular";
  src: url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Abington";
  src: url("../fonts/abington bold font.ttf") format("truetype"),
       url("../fonts/abington bold font.otf") format("opentype");
}
@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Regular.ttf") format("truetype");
}

  /* font-family: "Qaligo";
  src: url("../fonts/Qaligo Regular.ttf") format("truetype"),
       url("../fonts/Qaligo Regular.otf") format("opentype"); */



body{
	font-size: 16px;

	width: 100vw;
	height: 100%;
  padding:0;
  overflow-x:hidden;

  font-family: 'NunitoSans-Light';
}

a{
  color:white;
}
a:hover{
  text-decoration:none;
}

h1{
  font-family: 'Abington', sans-serif;
	font-size: 2.6em;
	color: var(--c0);
  margin-bottom: var(--p);
}

h2{
	font-family: 'Abington', sans-serif;
	font-size: 1.6em;
	color: var(--c0);
  margin-bottom: var(--p);
}

h3{
  font-family: "SourceCodePro", sans-serif;
  font-size: 1.1em;
  color: var(--c0);
}

p{
	text-align: justify;
  text-justify: inter-letter;
}
