<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Signal Ethics - Blog</title>
  <link rel="stylesheet" href="../../css/reset.css">
  <link rel="stylesheet" href="../../css/main.css">
  <link rel="stylesheet" href="../../css/blog.css">
  <link rel="stylesheet" href="../../css/highlight.min.css">

  <script src="../../lib/highlight.min.js"></script>
  <script src="../../lib/p5.min.js"></script>
  <script src="../../lib/netitor.min.js"></script>
  <script src="../../components/tinycode.js"></script>

  <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>

  <a href="../.." class="home-button-link"></a>
  <iframe class="home-button" src="../../js/bg.html"></iframe>


  <div id="blog">


    <div id="blog-head">


      <h1 id="blog-title"><span id="blog-filename">Title is Here</span></h1>


    </div>


    <div id="blog-body">

      hello this is a test

      <pre><code class="html"><meta author="Joe Example"></code></pre>

    </div>


  </div>



</body>
</html>
